---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={`${depth > 2 ? "ms-4" : ""}`}>
	<a
		aria-label={`Scroll to section: ${text}`}
		class={`block line-clamp-2 transition-opacity duration-200 hover:opacity-100 ${
			depth === 1 
				? "mt-3 text-xl font-bold"
				: depth === 2
				? "mt-3 text-lg font-bold"
				: depth === 3
				? "mt-2 text-[0.95rem] font-medium opacity-85"
				: "mt-2 text-sm opacity-75"
		}`}
		href={`#${slug}`}
	>
		{text}
	</a>
	{
		!!children.length && (
			<ul>
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ul>
		)
	}
</li>
